<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <title style="font-size:12px"></title>
</head>
<script type="text/javascript">
</script>
<body>
<table>
    <tr>
        <td>用户名：</td>
        <td><input type="text" id="username"></td>
    </tr>
    <tr>
        <td>密 码：</td>
        <td>
            <input type="password" id="password">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="登录" id="btn" onclick="Login()">
        </td>
    </tr>
</table>
</body>
</html>